.c_bag {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.c_bag:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
